body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #295d2e;
	flex-direction: column; /* Alterado para column como padrão */
}

img {
	max-width: 80%; /* Reduz a largura da imagem */
	height: auto;
	margin-bottom: 20px;
}

.login-container {
	width: 90%; /* Aumenta a largura em telas menores */
	max-width: 350px; /* Reduz o tamanho máximo do container */
	padding: 30px; /* Reduz o padding */
	background: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	border-radius: 8px;
}

input.form-control {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #e8a449;
	color: black;
	height: 35px; /* Reduz a altura dos inputs */
	padding: 0.375rem 0.75rem;
	border-radius: 0;
	outline: none;
	font-size: 0.9rem; /* Reduz o tamanho da fonte */
}

input.form-control:focus {
	background-color: transparent;
	border-bottom: 2px solid #c88232;
	color: black;
	box-shadow: none;
}

input.form-control::placeholder {
	color: black;
	opacity: 0.7;
}

/* Media query para telas maiores, se necessário */
@media (min-width: 768px) {
	body {
		flex-direction: row; /* Volta para row em telas maiores */
	}

	img {
		max-width: 400px;
		height: 400px;
		margin-bottom: 0;
	}

	.login-container {
		width: 100%;
		max-width: 400px;
		padding: 50px;
	}

	input.form-control {
		height: 40px;
		font-size: 1rem;
	}
}
